body {
	background-color: white;
}

* {
	box-sizing: border-box;
}


#python {
	width: 400px;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
	transition: all 0.2s linear;
	margin-top: 100px;
}


#nav {
	list-style-type: none;
	margin: auto;
	margin-left: -10px;
	padding: 0;
	overflow: hidden;
	background-color: #636363;
	position: fixed;
	top: 0;
	width: 101%;
}

#nav2 {
	float: left;
	font-family: "Lucida Console";
}

#nav3 {
	display: block;
	color: white;
	text-align: center;
  	padding: 14px 16px;
    	text-decoration: none;
	transition: all 0.2s linear;
}

#nav3:hover {
	background-color: #FCC233;
}

.active {
	background-color: #376B9A;
}


.info {
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
}

.column1 {
	float: left;
	width: 33.33%;
	background-color: #376B9A;
	padding: 10px;
	height: 260px;
	transition: all 0.2s linear;
}

.column2 {
	float: left;
	width: 33.33%;
	background-color: #636363;
	padding: 10px;
	height: 260px;
}

.column3 {
	float: left;
	width: 33.33%;
	background-color: #FCC233;
	padding: 10px;
	height: 260px;
	transition: all 0.2s linear;
}


.container {
	width: 80%;
	margin: auto;
	padding: 10px;
}
	

.container:after {
	content: "";
	display: table;
	clear: both;
}


div h3 {
	text-align: center;
	font-family: "Lucida Console", monospace;
	color: white;
}

.guido {
	margin-left: 22%;
	padding: 10px;
	height: 230px;
	transition: all 0.2s linear;
}

.guido:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div p {
	font-family: "Lucida Console", monospace;
	color: white;
}

.reflink {
	font-family: "Lucida Console", monospace;
	color: #376B9A;
	transition: all 0.2s linear;
}

.reflink:hover {
	color: #FCC233;
}


.container2 {
	margin: auto;
	width: 78.5%;
	padding: 10px;
	margin-top: 30px;
	height: 130px;
	background: #636363;
	text-align: center;
}

div a {
	color: white;
	transition: all 0.2s linear;
}

div a:hover {
	font-size: 1.2em;
}

.container3 {
	margin: auto;
	width: 78.5%;
	padding: 10px;
	height: 260px;
	background: #636363;
}

#list {
	font-family: "Lucida Console", monospace;
	color: white;
	margin-left:40%;
}

.container4 {
	width: 100%;
	margin: auto;
	padding: 10px;
	
}
	

.container4:after {
	content: "";
	display: table;
	clear: both;
}


.column4 {
	float: left;
	width: 33.33%;
	background-color: #376B9A;
	padding: 10px;
	height: 270px;
	margin-top: 58px;
}

.column5 {
	float: left;
	width: 33.33%;
	background-color: white;
	padding: 10px;
	height: 270px;
	margin-top: 58px;
}

.column6 {
	float: left;
	width: 33.33%;
	background-color: #FCC233;
	padding: 10px;
	height: 270px;
	margin-top: 58px;
}

ul li {
	color: white;
	font-family: "Lucida Console", monospace;
}

