body {
	background-color: #1d1e1e;
}

h1 {
	color: white;
	text-align: center;
}

img {
	width: 250px;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
	transition: all 0.2s linear;
}

img:hover {
	box-shadow: 10px 10px 8px 10px #3ae4ff;
}
